@import '../../lib/variables.scss';

.card-heading {
  &__title {
    font-size: 28px;
    font-weight: 500;
    color: getColor(primary);
    line-height: 99%;
  }

  &__company {
    font-size: 18px;
    font-weight: 800;
    color: getColor(light-text);
  }

  &__timespan {
    font-size: 18px;
    font-weight: 300;
    color: getColor(light-text);
    margin-top: 0.2rem;
  }

  &.sm {
    .card-heading__title {
      font-size: 21px;
    }

    .card-heading__company {
      font-size: 14px;
    }

    .card-heading__timespan {
      font-size: 14px;
    }
  }
}