@import '../../lib/variables.scss';

.card-heading {
  display: grid;
  grid: repeat(auto, 3) / auto;

  &__title {
    grid-row: 2 / 3;

    font-size: 28px;
    font-weight: 500;
    color: getColor(primary);
    line-height: 99%;
  }

  &__company {
    grid-row: 1 / 2;

    font-size: 18px;
    font-weight: 800;
    color: getColor(light-text);
  }

  &__timespan {
    grid-row: 3 / 4;

    font-size: 18px;
    font-weight: 300;
    color: getColor(light-text);
    margin-top: 0.2rem;
  }
}