@import '../lib/variables.scss';

.bullet {
  display: grid;
  grid: auto / auto 1fr;

  &__chevron {
    width: 12px;
    transform: rotate(270deg);
    color: getColor(regular-text);

    margin: 0.5rem 0.2rem 0.1rem;
  }
}