@import '../lib/variables.scss';

.heading {
  margin-bottom: 0.5rem;
  color: getColor(dark-text);

  &__content {
    font-weight: 400;

    &.lg {
      font-size: 48px;
    }

    &.sm {
      font-size: 42px;
    }
  }

  &__line {
    width: 132px;
    height: 3px;

    border-radius: $border-radius;
    background-color: getColor(primary);
  }
}
