@import '../lib/variables.scss';

.image {
  position: relative;
  margin: 0 5% 5% 0;

  &__img {
    border-radius: $border-radius;
  }

  &__outline {
    position: absolute;
    height: 98%;
    width: 98%;
    border: solid 3px getColor(primary);
    border-radius: $border-radius;

    top: 5%;
    left: 5%;
  }
}
