@import '../lib/variables.scss';

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: getColor(regular-text);
  }

  &__chevron {
    fill: getColor(regular-text);

    &:nth-of-type(2) {
      margin-top: -15px;
    }
  }
}