@import '../lib/variables.scss';

.social-media-line {
  display: flex;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;

  &__image {
    width: 2rem;
    object-fit: contain;
    border-radius: 0;

    margin: 0 0.2rem;

    fill: getColor(regular-text);
  }

  &__line {
    width: 4rem;
    height: 0.125rem;
    border-radius: $border-radius;
    background-color: getColor(regular-text);
  }
}